.main {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../../public/static/images/main/main-bg.png") center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main-title {
    position: absolute;
    right: 192px;
    top: 212px;
    max-width: 567px;
    text-align: right;
    z-index: 5;

}

.main-title h1 {
    margin-bottom: 30px;
}
.main-title h2 {
    margin-bottom: 25px;
}
.main-title h3 {
    margin-bottom: 80px;
}

.main-title__desc {
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 300;
}

.main__line {
    font-size: 0;
    background: url("../../public/static/images/svg/line.svg") center no-repeat;
    background-size: 756px 2px;
    width: 756px;
    height: 1px;
    position: absolute;
    right: 0;
    top: 550px;
    animation: move-line 2s ease-in 0s 1 normal;
}

@keyframes move-line {
    from {
        margin-right:-756px;
    }
    to {
        margin-right:0;
    }
}

.main__photo {
    font-size: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1545px;
    height: 359px;
    background: url("../../public/static/images/main/text.png") center no-repeat;
    background-size: 1545px 359px;
    animation: move-photo 2s ease-in 0s 1 normal;
}

@keyframes move-photo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main__circle {
    font-size: 0;
    position: absolute;
    top: 0;
    right: -11px;
    width: 1000px;
    height: 1000px;
    background: url("../../public/static/images/svg/circle.svg") center no-repeat;
    background-size: 1000px 1000px;
    animation: move-circle 2s ease-in 0s 1 normal;
}

@keyframes move-circle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}