@import "styles/variables";

.layout {
  width: 100%;
  min-height: 100vh;
  color: $color-white;
  display: grid;
  overflow: hidden;
}

.main {
  grid-template-areas:
    "title title right"
    "nav content right"
    "social content page";
  grid-template-rows: 180px 3fr 120px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 10px;
  background: url("../../public/static/images/main/main-bg.png") center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 359px;
    background: url("../../public/static/images/main/text.png") right no-repeat;
    background-size: 80%;
    animation: move-photo 2s ease-in 0s 1 normal;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../../public/static/images/svg/circle.svg") center right no-repeat;
    background-size: 81%;
    animation: move-circle 2s ease-in 0s 1 normal;
    animation-fill-mode: forwards;
  }
}

.contacts {
  grid-template-areas:
    "title title right"
    "nav content right"
    "social content page";
  grid-template-rows: 180px 3fr 120px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 10px;
  background: url("../../public/static/images/contacts/contacts-bg.jpg") center no-repeat;
  background-size: cover;
}

.about {
  background: rgba(239, 226, 220, 0.31);
  grid-template-areas:
    "title title right"
    "nav content right"
    "social content page";
  grid-template-rows: 180px 3fr 120px;
  grid-template-columns: 1fr 2fr 1.25fr;
  grid-column-gap: 10px;
}

.portfolio {
 background: #262B38;
  grid-template-areas:
    "title title right"
    "nav content right"
    ". list list"
    "social . page";
  grid-template-rows: 180px 2fr 1fr 120px;
  grid-template-columns: 1fr 2fr 1.25fr;
  grid-column-gap: 10px;
}

.category {
  background: rgba(239, 226, 220, 0.31);
}

@keyframes move-photo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move-circle {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@media all and (max-width: 1300px){
  .main {
    &::after {
      display: none;
    }
  }
}

@media all and (max-width: 1000px){
  .main {
    grid-template-areas:
    "title menu"
    "content content"
    "social page";
    grid-template-rows: 180px 1fr 120px;
    grid-template-columns: 2fr 1fr;
    background: url("../../public/static/images/main/main-table.jpg") center no-repeat;
    background-size: cover;
    &::before {
      background: url("../../public/static/images/main/text-min.png") right bottom no-repeat;
      background-size: 40%;
      width: 459px;
      height: 100%;
    }
  }
  .contacts {
    grid-template-areas:
    "title title"
    "content content"
    "right right"
    "social page";
    grid-template-rows: 180px 1fr 0.5fr 120px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .about {
    grid-template-areas:
    "title title"
    "content right"
    "social page";
    grid-template-rows: 180px 3fr 120px;
    grid-template-columns: 1fr 1fr;
  }
  .portfolio {
    grid-template-areas:
    "title title"
    "content content"
    "right right"
    "list list"
    "social page";
    grid-template-rows: 180px 0.5fr 2fr 0.5fr 120px;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 800px){
  .about {
    grid-template-areas:
    "title title"
    "right right"
    "content content"
    "social page";
    grid-template-rows: 180px 0.5fr 1fr 120px;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 600px){
  .main {
    background: url("../../public/static/images/main/main-phone.jpg") center no-repeat;
    background-size: cover;
  }
  .contacts {
    grid-template-rows: 100px 1fr 0.5fr 120px;
  }
  .about {
    grid-template-rows: 100px 0.5fr 1fr 120px;
  }
  .portfolio {
    grid-template-rows: 100px 0.5fr 1fr 0.5fr 120px;
  }
}

@media all and (max-width: 470px){
  .about {
    grid-template-rows: 100px 0.3fr 1fr 120px;
  }
}