

.title {
  padding: 10px 60px 10px 225px;
  margin-bottom: 40px;
  background: $color-white;
  &--contacts {
    margin-bottom: 70px;
  }
}


.contacts {
  background: url("../../public/static/images/contacts/contacts-bg.jpg") center no-repeat;
  background-size: cover;
}

.category {
  background: rgba(239, 226, 220, 0.31);
}

.ReactGridGallery {
  margin: -15px;
}

