* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kontora', Arial, sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'FoglihtenNo06', "Times New Roman", serif;
  font-size: 120px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  font-weight: 400;
}

h2 {
  font-family: 'FoglihtenNo06', "Times New Roman", serif;
  font-size: 72px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  font-weight: 400;
}

h3 {
  font-size: 31px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
}