@import "styles/_variables";

.title {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
    max-width: 860px;
    text-align: center;
    z-index: 5;
    h2 {
      font-size: 125px;
      line-height: 166px;
      color: $color-white;
      font-family: $font-pt;
      font-weight: 400;
      margin-bottom: 50px;
    }
    h1 {
      font-family: $font-kontora;
      text-transform: none;
      font-size: 36px;
      line-height: 130%;
      letter-spacing: 0.05em;
      color: $color-white;
      font-weight: 400;
      margin-bottom: 15px;
    }
}

@media all and (max-width: 1000px){
  .title {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    padding: 0 20px;
  }
}

@media all and (max-width: 600px){
  .title {

    h2 {
      font-size: 48px;
      line-height: 1;
    }
    h1 {
      font-size: 36px;
    }
  }
}

