@font-face{
  font-family: 'FoglihtenNo06';
  src: url('../../static/fonts/FoglihtenNo06.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Kontora';
  src: url('../../static/fonts/Kontora Light.otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Kontora';
  src: url('../../static/fonts/Kontora Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}