@import 'styles/variables';

.title {
  max-width: 840px;
  grid-area: title;
  align-self: center;
  padding: 10px 60px 10px 225px;
  background: $color-white;
  height: 100px;
  display: flex;
  align-items: center;
}

.desc {
  grid-area: content;
  max-width: 416px;
  margin-left: 40px;
  h2 {
    color: $color-white;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-decoration: underline;
  }
  p {
    line-height: 1.2;
    color: $color-white;
    font-size: 18px;
  }
}

.list {
  grid-area: list;
  z-index: 2;
}

.item {
  position: relative;
  cursor: pointer;
  z-index: 2;
  transition: .5s;
  &:hover {
    img {
      transform: scale3d(1.1, 1.1, 1.1);
    }

  }

 h3 {
    position: absolute;
    width: 300px;
    height: 185px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-prata;
    font-size: 18px;
    color: $color-beige;
    z-index: 3;
  }
  img {
    transition: 1s;
    max-width: 300px;
    max-height: 185px;
    border-radius: 2px;
  }
}

.pic {
  grid-area:right;
  position: relative;
  background: #FAF6F4;

  img {
    position: absolute;
    top: 20%;
    right: 20px;
    border-radius: 2px;
    max-width: 750px;
    max-height: 600px;
  }
}

@media all and (max-width: 1600px){
  .title {
    padding-left: 40px;
  }
}

@media all and (max-width: 1500px){
  .pic {
    img {
      width: 150%;
    }
  }
  .desc {
    max-width: 316px;
  }
}

@media all and (max-width: 1300px){
  .desc {
    margin-left: 0;
  }
}

@media all and (max-width: 1025px){
  .title {
    padding-left: 20px;
    padding-right: 20px;

    h1 {
      font-size: 60px;
      text-align: center;
      width: 100%;
    }
  }
}

@media all and (max-width: 1000px){
  .pic {
    align-self: center;
    justify-self: center;
    background: none;
    margin-bottom: 40px;
    img {
      position: static;
    }
  }
  .desc {
    max-width: none;
    padding: 20px;
    margin-bottom: 40px;
  }
  .list {
    display: flex;
    justify-content: center;
    padding: 0 40px;
  }
}

@media all and (max-width: 800px){

}

@media all and (max-width: 600px){
  .title {
    height: 60px;
    align-self: center;
    h1 {
      font-size: 40px;
    }
  }
  .item {
    h3 {
      bottom: auto;
    }
  }
}

@media all and (max-width: 470px){
  .title {
    padding: 0 10px;
    h1 {
      font-size: 30px;
    }
  }
}