.error {
  min-height: 100vh;
  background: #0e1935;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    font-size: 80px;
    margin-bottom: 40px;
  }
  h2 {
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
  }
  a {
    color: white;
    font-size: 20px;
  }
}