@import "styles/variables";
.title {
  grid-area: title;
  align-self: center;
  padding: 10px 60px 10px 225px;
  background: $color-white;
  height: 100px;
  display: flex;
  align-items: center;
}
.content {
  grid-area: content;
  align-self: center;
  justify-self: center;
}
.desc {
  margin-bottom: 60px;
  max-width: 550px;
  h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    text-decoration: underline;
    line-height: 130%;
    color: $color-blue-dark;
    text-transform: none;
    letter-spacing: normal;
  }
  p {
    color: $color-blue-dark;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 0;
  }
}

.specialization {
  max-width: 550px;

  h2 {
    color: $color-blue-dark;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: none;
    letter-spacing: normal;
  }
}

.block {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.item {
  padding: 10px 0;
  max-width: 170px;
  width: 100%;
  cursor: pointer;
  transition: .5s;
  text-align: center;
  h3 {
    font-weight: normal;
    color: $color-blue-dark;
    font-size: 18px;
    line-height: 130%;
    max-width: 110px;
    margin: 0 auto;
  }
  &:hover {
    transition: .5s;
    background: $color-beige;
    .first {
      animation: pulse 2s ease-in 0s infinite reverse;
    }
    .second {
      animation: pulse 2s ease-in 0s infinite reverse;
    }
    .third {
      animation: pulse 2s ease-in 0s infinite reverse;
    }
  }
}

.img {
  position: relative;
  height: 110px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .images {
    max-width: 110px;
    width: 100%;
  }
  .first {
    position: absolute;
    bottom: 22px;
    right: 51px;
  }
  .second {
    position: absolute;
    top: 10px;
  }
  .third {
    position: absolute;
    bottom: 19px;
  }
}

.pic {
  grid-area: right;
  position: relative;
  margin-bottom: 44px;
  margin-top: 60px;
  margin-right: 20px;
  img {
    max-width: 700px;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: $color-white;
    position: absolute;
    z-index: 1;
    top: -20px;
    right: -20px;
  }
}

@keyframes pulse {
  from {
    transition: .5s;
    transform: scale(1);
  }
  50% {
    transition: .5s;
    transform: scale(1.1);
  }
  to {
    transition: .5s;
    transform: scale(1);
  }
}

@media all and (max-width: 1600px){
  .title {
    padding-left: 40px;
  }
}

@media all and (max-width: 1300px){
  .pic {
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media all and (max-width: 1000px){
  .title {
    padding-left: 20px;
    padding-right: 20px;

    h1 {
      font-size: 60px;
      text-align: center;
      width: 100%;
    }
  }
  .pic {
    align-self: start;
  }
  .content {
    padding: 0 20px;
  }
  .block {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 800px){
  .pic {
    max-width: 400px;
    justify-self: center;
    margin-bottom: 40px;
  }
  .content {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 600px){
  .title {
    height: 60px;
    align-self: center;
    h1 {
      font-size: 40px;
    }
  }
}

@media all and (max-width: 470px){
  .title {
    padding: 0 10px;
    h1 {
      font-size: 30px;
    }
  }
  .pic {
    margin-top: 20px;
    max-width: 300px;
  }
  .block {
    flex-direction: column;
    align-items: center;
  }
  .specialization {
    text-align: center;
  }
  .desc {
    h2 {
      text-align: center;
    }
  }
}