@import "styles/variables";

.about {
  display: flex;
  padding: 50px 40px 50px 0;
  background: rgba(239, 226, 220, 0.31);
  min-height: 100vh;
}

.content {
  width: 70%;
}

.desc {
  padding: 30px;
  margin-bottom: 60px;
  max-width: 550px;
  margin-left: auto;
  margin-right: 80px;
  h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    text-decoration: underline;
    line-height: 130%;
    color: $color-blue-dark;
    text-transform: none;
    letter-spacing: normal;
  }
  p {
    color: $color-blue-dark;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 0;
  }
}

.specialization {
  max-width: 550px;
  margin-left: auto;
  padding-right: 110px;

  h2 {
    color: $color-blue-dark;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: none;
    letter-spacing: normal;
  }
}

.block {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.item {
  padding: 10px 0;
  max-width: 170px;
  width: 100%;
  cursor: pointer;
  transition: .5s;
  text-align: center;
  h3 {
    font-weight: normal;
    color: $color-blue-dark;
    font-size: 18px;
    line-height: 130%;
    max-width: 110px;
    margin: 0 auto;
  }
  &:hover {
    transition: .5s;
    background: $color-beige;
    .first {
      animation: pulse 2s ease-in 0s infinite reverse;
    }
    .second {
      animation: pulse 2s ease-in 0s infinite reverse;
    }
    .third {
      animation: pulse 2s ease-in 0s infinite reverse;
    }
  }
}

.img {
  position: relative;
  height: 110px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .images {
    max-width: 110px;
    width: 100%;
  }
  .first {
    position: absolute;
    bottom: 22px;
    right: 51px;
  }
  .second {
    position: absolute;
    top: 10px;
  }
  .third {
    position: absolute;
    bottom: 19px;
  }
}

.pic {
  position: relative;
  margin-bottom: 44px;
  img {
    max-width: 700px;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    width: 475px;
    height: 475px;
    background: $color-white;
    position: absolute;
    z-index: 1;
    top: -20px;
    right: -20px;
  }
}

@keyframes pulse {
  from {
    transition: .5s;
    transform: scale(1);
  }
  50% {
    transition: .5s;
    transform: scale(1.1);
  }
  to {
    transition: .5s;
    transform: scale(1);
  }
}