@import "../../../styles/variables";

.nav {
  grid-area: nav;
  z-index: 2;
  width: 100%;
  max-width: 270px;
  align-self: center;
}

.link {
   padding-left: 75px;
   font-size: 30px;
   color: $color-blue-dark;
   background-color: $color-beige;
   width: 100%;
   min-height: 66px;
   margin-bottom: 3px;
   transition: .5s;
   display: flex;
   align-items: center;
  &:hover {
    background-color: $color-white;
    transition: .5s;
  }
}

.active {
   background-color: $color-white;
   transition: .5s;
 }

.anim1 {
  animation: navAnim1 2s ease-in 0s 1 normal;
}

@keyframes navAnim1 {
  from {
    margin-left: -345px;
  }
  to {
    margin-left: 0;
  }
}

.anim2 {
  animation: navAnim2 2.5s ease-in 0s 1 normal;
}

@keyframes navAnim2 {
  from {
    margin-left: -345px;
  }
  to {
    margin-left: 0;
  }
}

.anim3 {
  animation: navAnim3 3s ease-in 0s 1 normal;
}

@keyframes navAnim3 {
  from {
    margin-left: -345px;
  }
  to {
    margin-left: 0;
  }
}

.anim4 {
  animation: navAnim4 3.5s ease-in 0s 1 normal;
}

@keyframes navAnim4 {
  from {
    margin-left: -345px;
  }
  to {
    margin-left: 0;
  }
}

@media all and (max-width: 1000px){
  .nav {
    display: none;
  }
}